.home{
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-img{
    max-width: 752px;
    padding: 40px;
   }

.home-text{
    max-width: 37rem;
}
.text-h4{
    font-size: 1.5rem;
    color: #d63a25;
    margin-bottom: 1rem;
}

.text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home p{
    margin-bottom: 4rem;
}

.botao{
    padding: 15px 45px;
    background: #d63a25;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    transition: all 5s;

}

.botao:hover{
    background: #fc4c35;
}

@media (max-width: 900px) {
    .home{
        flex-direction: column;
    }
}
    
